<ion-header>
  <ion-toolbar>
    <ion-title>
      Onboarding
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <h1>Welcome to Brazucas.IE!</h1>
      <p>Discover and participate in exciting events and articles.</p>
    </ion-slide>
    <ion-slide>
      <h1>Find Events</h1>
      <p>Explore a wide range of events happening near you.</p>
      <ion-img src="assets/img/events-slide.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <h1>Read Articles</h1>
      <p>Get access to interesting articles on various topics.</p>
      <ion-img src="assets/img/articles-slide.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <h1>Join the Community</h1>
      <p>Connect with other Brazucas.IE users and share your experiences.</p>
      <ion-img src="assets/img/community-slide.jpg"></ion-img>
    </ion-slide>
  </ion-slides>

  <ion-button expand="full" fill="solid" (click)="finishOnboarding()">Get Started</ion-button>
</ion-content>
