<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <h2>Welcome to Brazucas.IE!</h2>
      <p>Find information about events, articles, and more to support your life in Ireland.</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item button (click)="navigateToEvents()">
      <ion-icon slot="start" name="calendar"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-item>
    <ion-item button (click)="navigateToArticles()">
      <ion-icon slot="start" name="book"></ion-icon>
      <ion-label>Articles</ion-label>
    </ion-item>
    <ion-item button (click)="navigateToMonthlyMeetings()">
      <ion-icon slot="start" name="people"></ion-icon>
      <ion-label>Monthly Meetings</ion-label>
    </ion-item>
    <ion-item button (click)="navigateToUserProfile()">
      <ion-icon slot="start" name="person"></ion-icon>
      <ion-label>User Profile</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
