.error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: var(--ion-color-danger);
  
    ion-icon {
      font-size: 48px;
      margin-bottom: 8px;
    }
  }
  