ion-toast {
    --background: var(--ion-color-medium);
    --color: var(--ion-color-light);
    --padding-inline-start: 16px;
    --padding-inline-end: 16px;
  
    ion-icon {
      font-size: 24px;
      margin-inline-end: 8px;
    }
  
    .message {
      font-size: 14px;
      line-height: 1.5;
      margin-top: 4px;
    }
  }
  