ion-card {
    margin-bottom: 20px;
  }
  
  ion-card-header ion-card-subtitle {
    font-size: 14px;
  }
  
  ion-card-header ion-card-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  ion-card-content p {
    margin-bottom: 10px;
  }
  
  ion-card-content ion-button {
    margin-top: 10px;
  }
  